################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WSW/bin
/WSW/WSW.csproj.user
/WSW/ReadMe.txt
/WSW/obj
/.vs/WSW/v14/.suo
/WSW/GlobalSuppressions.cs
