<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="email" type="WSW.Configuration.EmailSection, WSW" />
    <section name="secure" type="WSW.Configuration.SecureSection, WSW" />
    <section name="serviceSection" type="WSW.Configuration.ServiceSection, WSW" />
  </configSections>

  <!--Note:  All external configuration files used with the configSource attribute must also reside 
  in a relative child path to the main .exe.config file-->

  <email configSource="sections\email\gmail.config.xml"/>
  <!--Encrypted Password-->
  <secure configSource="sections\secure\gmail.pass.config.xml"/>
  <serviceSection configSource="sections\service\serviceSettings.config.xml"/>

  <!--Decrypted Password-->
  <!--<secure fromMailPassword="YOUR_PASSWORD"/>-->
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
